<% content_for :edit_card_content do %>
  <%= render partial: 'profiles/edit', locals: { profile: profile, decorated_profile: decorated_profile } %>
<% end %>

<% content_for :card_title do %>
  Profile
<% end %>

<% content_for :show_card_content do %>
<div class="card-content">
  <%= image_tag current_member.profile.image, size: "200x200" %></br>
  
  <div class="card-description">
    <h4><%= decorated_profile.name %></h4>
    <p><%= decorated_profile.smoking_status %>, <%= decorated_profile.pet_status %> </p>
    <p class="greyed-out"><%= decorated_profile.profile_bio %></p>
  </div>
</div>
<% end %>

<%= render 'card' %>
