<div class="profile-image col-md-4">
  <%= image_tag current_member.profile.image, size: "200x200" %></br>
  <%= link_to 'Edit Profile Picture', edit_profile_path(current_member), class: 'modal-trigger', 'data-toggle' => "modal", 'data-target' => "#myModal", method: 'get', remote: true %></br>
</div>

<div class="col-md-8">
  <h4><%= @profile.name %></h4>
  <p><%= @profile.smoking_status %></p>
  <p><%= @profile.pet_status %></p>
</div>
