<h3>Will you be a host or a guest?</h3>
<p>Please choose one role for now. You can add another later if you want to be both a host and a guest.</p>

<a id="guest-only" role="button" data-toggle="collapse" href="#guestOnly" aria-expanded="false" aria-controls="guestOnly">
  Guest Only
</a>

<div class="collapse" id="guestOnly">
  <%= simple_form_for(@guest, as: :guest_role, url: guest_roles_path, remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.input :member_id, as: :hidden, :input_html => { :value => current_member.id }%>
    <div class="form-group">
      <%= f.input :smoking_preference, collection: ["smoking allowed", "no smoking allowed", "no preference"], selected: "no preference", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input :pet_preference, collection: ["pets allowed", "no pets allowed", "no preference"], selected: "no preference", class: "form-control" %>
    </div>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
