<a href="#" id="dropdown-menu-1" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
  <span><%= "#{current_member.profile.first_name}" %></span>
  <%= image_tag current_member.profile.image, size: "30x30", class: "img-circle"%>
</a>
<ul class="dropdown-menu" aria-labelledby="dropdown-menu-1">
  <li><%= link_to 'Dashboard', new_dashboard_path %></li>
  <li><%= link_to 'Manage Locations', locations_path , id: 'manage-locations-navlink'%></li>
  <!-- <li><%#= link_to 'Your Reservations', reservations_path %></li> -->
  <li><%= link_to('Logout', destroy_member_session_path, :method => :delete) %></li>
</ul>
