<div id="hostOnly">
  <%= simple_form_for(@host, as: :host_role, url: host_roles_path, remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.input :member_id, as: :hidden, :input_html => { :value => current_member.id }%>
    <div class="form-group">
      <%= f.input :smoking_preference, collection: ["smoking allowed", "no smoking allowed", "no preference"], selected: "no preference", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.input :pet_preference, collection: ["pets allowed", "no pets allowed", "no preference"], selected: "no preference", class: "form-control" %>
    </div>
    <%= f.submit "Next step", class: "btn btn-primary" %>
  <% end %>
</div>
