<%= link_to 'Back to Locations', locations_path %>
<h1><%= @location.name %></h1>
<div class="gallery">
  <% @images.each do |image|%>
  <div class="gallery-img-wrapper">
  <a href="<%= image.image.url %>">
    <%= image_tag image.image, size: "200" %>
  </a>
</div>
  <% end %>
</div>

<div>
  <%= @location.location_street %></br>
  <%= @location.location_city %>, TX
  <%= @location.location_zip %>
</div>
