<%= link_to 'Back to Locations', locations_path %>
<h1><%= @location.name %></h1>
<div>
  <% @images.each do |image|%>
  <a href="<%= image.image.url %>">
    <%= image_tag image.image, size: "200x200" %>
  </a>
  <% end %>
</div>

<div>
  <%= @location.location_street %></br>
  <%= @location.location_city %>, TX
  <%= @location.location_zip %>
</div>
