<!DOCTYPE html>
<html>
<head>
  <title>Crashpad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'disable-transition' if Rails.env.test? %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <%= render 'layouts/navbar'%>
  </nav>
<div id="rails-flash-message"><%= render 'shared/flash_messages' %></div>
<div id="js-flash-message"></div>

<div class="col-md-offset-2 col-md-8 content-container">
  <%= yield %>
</div>
<%= render "shared/modal" %>
</body>
</html>
