<!DOCTYPE html>
<html>
<head>
  <title>Crashpad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'disable-transition' if Rails.env.test? %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= image_tag('logo.png',size: "45") %>
          <div class="shape"></div>
          <span>crashpad</span>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       	<li>
          <% if member_signed_in? %>
       		 <%= link_to('Logout', destroy_member_session_path, :method => :delete) %>
          <% end %>
       	</li>
      </ul>
      </div>
    </div>
  </nav>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="col-md-offset-2 col-md-8">
  <%= yield %>
</div>

</body>
</html>
